log:
  level: INFO

accessLog: 
  filePath: "/var/log/traefik/access.log" 
  format: common

api:
  dashboard: true
  insecure: true 

entryPoints:
  web:
    address: ":80"

providers:
  docker:
    exposedByDefault: false
    network: SD_Network

  file:
    directory: "/etc/traefik/dynamic"
    watch: true 